[Unit]
Description=weekly full backup

[Timer]
OnCalendar=weekly # see systemd.time(7) manual page for other scheduling options
AccuracySec=1h    # allow flexibility in start time
Persistent=true   # run immediately if we missed a backup for some reason

[Install]
WantedBy=timers.target
