set autoindent
set morespace
set nohelp
set nowrap
set suspend
set quickblank
set backup
set backupdir /home/razz/.config/nano/backups
include /home/razz/.config/nano/bash.nanorc

include /usr/share/nano/asm.nanorc
include /usr/share/nano/awk.nanorc
include /usr/share/nano/c.nanorc
include /usr/share/nano/changelog.nanorc
include /usr/share/nano/cmake.nanorc
include /usr/share/nano/css.nanorc
include /usr/share/nano/debian.nanorc
include /usr/share/nano/default.nanorc
include /usr/share/nano/elisp.nanorc
include /usr/share/nano/fortran.nanorc
include /usr/share/nano/gentoo.nanorc
include /usr/share/nano/go.nanorc
include /usr/share/nano/groff.nanorc
include /usr/share/nano/guile.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/java.nanorc
include /usr/share/nano/javascript.nanorc
include /usr/share/nano/json.nanorc
include /usr/share/nano/lua.nanorc
include /usr/share/nano/makefile.nanorc
include /usr/share/nano/man.nanorc
include /usr/share/nano/mgp.nanorc
include /usr/share/nano/mutt.nanorc
include /usr/share/nano/nanorc.nanorc
include /usr/share/nano/objc.nanorc
include /usr/share/nano/ocaml.nanorc
include /usr/share/nano/patch.nanorc
include /usr/share/nano/perl.nanorc
include /usr/share/nano/php.nanorc
include /usr/share/nano/po.nanorc
include /usr/share/nano/postgresql.nanorc
include /usr/share/nano/pov.nanorc
include /usr/share/nano/python.nanorc
include /usr/share/nano/ruby.nanorc
include /usr/share/nano/sh.nanorc
include /usr/share/nano/spec.nanorc
include /usr/share/nano/tcl.nanorc
include /usr/share/nano/tex.nanorc
include /usr/share/nano/texinfo.nanorc
include /usr/share/nano/xml.nanorc

include /home/razz/.config/nano/scopatz_nanorc/apacheconf.nanorc
include /home/razz/.config/nano/scopatz_nanorc/asciidoc.nanorc
include /home/razz/.config/nano/scopatz_nanorc/asm.nanorc
include /home/razz/.config/nano/scopatz_nanorc/awk.nanorc
include /home/razz/.config/nano/scopatz_nanorc/c.nanorc
include /home/razz/.config/nano/scopatz_nanorc/cmake.nanorc
include /home/razz/.config/nano/scopatz_nanorc/coffeescript.nanorc
include /home/razz/.config/nano/scopatz_nanorc/colortest.nanorc
include /home/razz/.config/nano/scopatz_nanorc/conf.nanorc
include /home/razz/.config/nano/scopatz_nanorc/csharp.nanorc
include /home/razz/.config/nano/scopatz_nanorc/css.nanorc
include /home/razz/.config/nano/scopatz_nanorc/cython.nanorc
include /home/razz/.config/nano/scopatz_nanorc/dot.nanorc
include /home/razz/.config/nano/scopatz_nanorc/email.nanorc
include /home/razz/.config/nano/scopatz_nanorc/erb.nanorc
include /home/razz/.config/nano/scopatz_nanorc/fish.nanorc
include /home/razz/.config/nano/scopatz_nanorc/fortran.nanorc
include /home/razz/.config/nano/scopatz_nanorc/gentoo.nanorc
include /home/razz/.config/nano/scopatz_nanorc/git.nanorc
include /home/razz/.config/nano/scopatz_nanorc/gitcommit.nanorc
include /home/razz/.config/nano/scopatz_nanorc/glsl.nanorc
include /home/razz/.config/nano/scopatz_nanorc/go.nanorc
include /home/razz/.config/nano/scopatz_nanorc/groff.nanorc
include /home/razz/.config/nano/scopatz_nanorc/haml.nanorc
include /home/razz/.config/nano/scopatz_nanorc/html.nanorc
include /home/razz/.config/nano/scopatz_nanorc/ini.nanorc
include /home/razz/.config/nano/scopatz_nanorc/inputrc.nanorc
include /home/razz/.config/nano/scopatz_nanorc/java.nanorc
include /home/razz/.config/nano/scopatz_nanorc/javascript.nanorc
include /home/razz/.config/nano/scopatz_nanorc/js.nanorc
include /home/razz/.config/nano/scopatz_nanorc/json.nanorc
include /home/razz/.config/nano/scopatz_nanorc/keymap.nanorc
include /home/razz/.config/nano/scopatz_nanorc/kickstart.nanorc
include /home/razz/.config/nano/scopatz_nanorc/ledger.nanorc
include /home/razz/.config/nano/scopatz_nanorc/lisp.nanorc
include /home/razz/.config/nano/scopatz_nanorc/lua.nanorc
include /home/razz/.config/nano/scopatz_nanorc/makefile.nanorc
include /home/razz/.config/nano/scopatz_nanorc/man.nanorc
include /home/razz/.config/nano/scopatz_nanorc/markdown.nanorc
include /home/razz/.config/nano/scopatz_nanorc/mpdconf.nanorc
include /home/razz/.config/nano/scopatz_nanorc/mutt.nanorc
include /home/razz/.config/nano/scopatz_nanorc/nanorc.nanorc
include /home/razz/.config/nano/scopatz_nanorc/nginx.nanorc
include /home/razz/.config/nano/scopatz_nanorc/patch.nanorc
include /home/razz/.config/nano/scopatz_nanorc/peg.nanorc
include /home/razz/.config/nano/scopatz_nanorc/perl.nanorc
include /home/razz/.config/nano/scopatz_nanorc/perl6.nanorc
include /home/razz/.config/nano/scopatz_nanorc/php.nanorc
include /home/razz/.config/nano/scopatz_nanorc/pkg-config.nanorc
include /home/razz/.config/nano/scopatz_nanorc/pkgbuild.nanorc
include /home/razz/.config/nano/scopatz_nanorc/po.nanorc
include /home/razz/.config/nano/scopatz_nanorc/pov.nanorc
include /home/razz/.config/nano/scopatz_nanorc/privoxy.nanorc
include /home/razz/.config/nano/scopatz_nanorc/puppet.nanorc
include /home/razz/.config/nano/scopatz_nanorc/python.nanorc
include /home/razz/.config/nano/scopatz_nanorc/reST.nanorc
include /home/razz/.config/nano/scopatz_nanorc/rpmspec.nanorc
include /home/razz/.config/nano/scopatz_nanorc/ruby.nanorc
include /home/razz/.config/nano/scopatz_nanorc/scala.nanorc
include /home/razz/.config/nano/scopatz_nanorc/sed.nanorc
include /home/razz/.config/nano/scopatz_nanorc/sh.nanorc
include /home/razz/.config/nano/scopatz_nanorc/sql.nanorc
include /home/razz/.config/nano/scopatz_nanorc/systemd.nanorc
include /home/razz/.config/nano/scopatz_nanorc/tcl.nanorc
include /home/razz/.config/nano/scopatz_nanorc/tex.nanorc
include /home/razz/.config/nano/scopatz_nanorc/vala.nanorc
include /home/razz/.config/nano/scopatz_nanorc/vi.nanorc
include /home/razz/.config/nano/scopatz_nanorc/xml.nanorc
include /home/razz/.config/nano/scopatz_nanorc/xresources.nanorc
include /home/razz/.config/nano/scopatz_nanorc/yaml.nanorc
include /home/razz/.config/nano/scopatz_nanorc/yum.nanorc
include /home/razz/.config/nano/scopatz_nanorc/zsh.nanorc
